
section.carousel {
    min-height: 300px;
    background-image: url('../img/banner2.png');
    width: 100%;
    background-size: cover;

}

body {
    font-family:'Dosis', sans-serif;
    font-weight: bold;
}

.navbar {
    height: 150px;
    color: #506266;

}

.titlee {
    font-family: 'Dancing Script';
    font-size :xx-large
}

.navbar-brand{
    font-size: x-large;

}

.depoimento{ 
    padding: 30px;
}

.pol {
    padding: 200px;
}

.contato {
    text-align: center;
    color: beige;
    font-weight: 200;
    font-size: small;
    padding: 40px;
    background-image: url('../img/fundo.jpg');
    text-shadow: #0d1618;
}


h2 {
    font-weight: bolder;
    font-family: 'Dancing Script';
}

h3 {
    color:#359721;
    font-weight: bolder;
}

.rod h5 {
    font-weight: bolder;
    font-family: 'Dancing Script';
}

.bc {
    background-image: url('../img/img/fundd.jpg');
    padding: 30px;
    min-height: 155px;
    width: 100%;
    background-size: cover;
    color:#043038;
    font-weight: bold;
}

.ops {
    background-color: white;
    border-radius: 25px;
    border-color: #10454f;
    color: #10454f;
    font-size: large;
    font-weight: bold;
}
.ops a:hover {
    color: white;
}

.ops:hover {
    background-color: #10454f;
    color: white;
    border: white;
}

a {
    color:#10454f;
    text-decoration: none;
    
}

div.ws {
    text-align: left;
}

.fr {
    background-color: #0D1118;
    width: 100%;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.fr h6 {
    font-style: italic;
    text-decoration: underline;
    color: #d1dcdf;
}


.rod {
    background-color: whitesmoke;
}
.rod2 {
    background-color: darkgray ;
}
.rod3 {
    background-color: dimgray;
}

.equipe {
    padding: 70px;
    background-image: url('../img/fundo2.jpg');
}

.card-body {
    font-family: 'Encode Sans Condensed', sans-serif;
}



.sustentabilidade {
    padding: 40px;
    background-image: url("../img/fundo2.jpg");
}

.logo {
    height: 12px;
    width: 12px;
}